#cfcf7-new-entry {
  display: inline-block;
  display: none; }

#cfcf7-delete-button {
  display: none; }

#cfcf7-settings-text {
  width: 100%;
  height: 280px;
  font-family: "Courier New", Courier, monospace; }

#cfcf7-conditional-panel {
  overflow-x: auto; }
  #cfcf7-conditional-panel .cfcf7-admin-wrap .label, #cfcf7-conditional-panel .cfcf7-admin-wrap .field, #cfcf7-conditional-panel .cfcf7-admin-wrap .description {
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 10%; }
  #cfcf7-conditional-panel .cfcf7-admin-wrap .field {
    width: 20%; }
  #cfcf7-conditional-panel .cfcf7-admin-wrap .description {
    width: 40%;
    vertical-align: top; }
  #cfcf7-conditional-panel .cfcf7-admin-wrap .option-line {
    border-bottom: 1px solid #dddddd;
    background-color: #f9f9f9;
    padding: 0 10px; }
  #cfcf7-conditional-panel .cfcf7-admin-wrap .option-line:nth-child(2n) {
    background-color: #e9e9e9; }
  #cfcf7-conditional-panel .cfcf7-admin-wrap .option-line input, #cfcf7-conditional-panel .cfcf7-admin-wrap .option-line select {
    width: 100%; }
  #cfcf7-conditional-panel .ui-autocomplete-term {
    font-weight: bold; }
  #cfcf7-conditional-panel .cfcf7-admin-wrap .option-line > .label.editable {
    position: relative; }
  #cfcf7-conditional-panel .cfcf7-admin-wrap .option-line > .label.editable input {
    background-color: transparent;
    border-width: 0;
    outline: none;
    box-shadow: none;
    padding: 0; }
  #cfcf7-conditional-panel .cfcf7-admin-wrap .option-line > .label.editable input:after {
    content: "edit";
    display: block;
    width: 10px;
    right: 0;
    position: absolute; }
  #cfcf7-conditional-panel .cfcf7-admin-wrap .option-line > .label.editable input:focus {
    background: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    border: 1px solid #ddd;
    padding: 2px; }
  #cfcf7-conditional-panel .cfcf7-admin-wrap .option-line > .label.editable input:focus:after {
    content: ""; }
  #cfcf7-conditional-panel .cfcf7-and {
    display: inline-block; }
  #cfcf7-conditional-panel .cfcf7-and-rules, #cfcf7-conditional-panel .cfcf7-if {
    display: inline-block;
    vertical-align: top; }
  #cfcf7-conditional-panel #cfcf7-entries input, #cfcf7-conditional-panel #cfcf7-entries select, #cfcf7-conditional-panel .and-button, #cfcf7-conditional-panel .delete-button, #cfcf7-conditional-panel #cfcf7-entries .if-txt, #cfcf7-conditional-panel #cfcf7-entries .label, #cfcf7-conditional-panel #cfcf7-add-button {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 2px;
    padding: 3px;
    background: #fefefe;
    border: 1px solid #bababa;
    box-shadow: none;
    height: 22px;
    line-height: 22px;
    box-sizing: content-box; }
  #cfcf7-conditional-panel #cfcf7-entries .label {
    background-color: transparent;
    border: none; }
  #cfcf7-conditional-panel .and-button, #cfcf7-conditional-panel .delete-button, #cfcf7-conditional-panel #cfcf7-add-button {
    border: 1px solid #4ed521;
    color: #007b04;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
    background-color: rgba(75, 169, 61, 0.11); }
  #cfcf7-conditional-panel #cfcf7-add-button {
    margin-top: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px; }
  #cfcf7-conditional-panel .and-button:hover {
    background-color: rgba(75, 169, 61, 0.2); }
  #cfcf7-conditional-panel .delete-button {
    border: 1px solid #bababa;
    color: #858585;
    background-color: transparent;
    margin-left: 42px; }
  #cfcf7-conditional-panel .delete-button:hover {
    background-color: rgba(133, 133, 133, 0.11); }
  #cfcf7-conditional-panel .and-button {
    display: none;
    width: 30px;
    text-align: center; }
  #cfcf7-conditional-panel .cfcf7-and-rule:first-child .and-button {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    position: absolute;
    line-height: 22px;
    right: 60px;
    top: 0; }
  #cfcf7-conditional-panel .cfcf7-and-rule {
    margin-bottom: 4px;
    height: 30px; }
  #cfcf7-conditional-panel .cfcf7-and-rule .if-txt, #cfcf7-conditional-panel .cfcf7-if > .label {
    cursor: move; }
  #cfcf7-conditional-panel .cfcf7-and-rule .if-txt:before {
    content: 'and';
    position: absolute;
    width: 30px;
    text-align: right;
    left: -34px; }
  #cfcf7-conditional-panel .cfcf7-and-rule:first-child .if-txt:before {
    display: none; }
  #cfcf7-conditional-panel .cfcf7-inner-container {
    min-width: 800px; }
  #cfcf7-conditional-panel .entry {
    box-sizing: border-box;
    display: flex; }
  #cfcf7-conditional-panel .then-field-select {
    width: 130px; }
  #cfcf7-conditional-panel .entry .cfcf7-and-rules {
    flex: 1;
    position: relative; }
  #cfcf7-conditional-panel .cfcf7-and-rule {
    display: flex; }
  #cfcf7-conditional-panel .if-txt {
    width: 14px;
    text-align: center; }
  #cfcf7-conditional-panel .operator {
    /*width:140px;*/ }
  #cfcf7-conditional-panel .if-value {
    flex: 1;
    margin-right: 3px !important; }

.cfcf7-list li {
  list-style: disc;
  margin-left: 20px; }
